<footer class="site-footer">
  <data href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

  <ul class="social">
  <li><a target="_blank" href="https://imdb.com/{{ site.imdb | escape }}"           ><img src="/assets/img/social/imdb.svg">    </a></li>
  <li><a target="_blank" href="https://instagram.com/{{ site.instagram | escape }}" ><img src="/assets/img/social/insta.svg">   </a></li>
  <li><a target="_blank" href="https://vimeo.com/{{ site.vimeo | escape }}"         ><img src="/assets/img/social/vimeo.svg">   </a></li>
  <li><a target="_blank" href="https://twitter.com/{{ site.twitter | escape }}"     ><img src="/assets/img/social/twitter.svg"> </a></li>
  <li><a target="_blank" href="https://linkedin.com/in/{{ site.linkedin | escape }}"><img src="/assets/img/social/linkedin.svg"> </a></li>
  </ul>

  </div>
  <p>&nbsp;</p>
  <p class="small text-center">© 2012 - {{ site.time | date: '%Y' }} Andrei Sas | Site made with 🖤 by <a href="https://mis.pm" target="_blank">mis</a></p>

</footer>
{% if page.url == "/" %}
  <script type="text/javascript" src="{{ "assets/js/home.js" | relative_url }}"></script>
{% endif %}
{% if page.url == "/form" %}
  <script type="text/javascript" src="{{ "assets/js/form.js" | relative_url }}"></script>
{% endif %}
