<div class="wrapper text-center">
<p>&nbsp;</p>
<p class="grey">
To stay in touch with these musings, you can use the <a href="/feed.xml" target="_blank">RSS feed</a> or fill the form below to get updates in your inbox:

<form method="post" action="http://blogtrottr.com" target="_blank">
	<input type="text" name="btr_email" placeholder="Your Email" />
	<input type="hidden" name="btr_url" value="http://andreisas.com/feed.xml" />
	<input type="hidden" name="schedule_type" value="0" />
	<input type="submit" value="Subscribe" />
</form>
</p>
</div>
