<div class="wrapper text-center">
<p>&nbsp;</p>
<p class="grey">
To get notified about future posts please follow the <a href="/feed.xml" target="_blank">RSS feed</a> or subscribe via email below:

<form id="subscribe-form" method="post" action="https://blogtrottr.com" target="_blank">
	<input type="text"   id="btr_email" name="btr_email" placeholder="your@email.com" />
	<input type="hidden" id="btr_url"   name="btr_url" value="https://andreisas.com/feed.xml" />
	<input type="hidden" name="schedule_type" value="0" />
	<input type="submit" value="Subscribe" />
</form>
</p>
</div>
