/* Full-width video & images
 * ----------------------------------------------
 */
#home-slide {
  width: 100vw;
}

@media (max-width: 767px) {
  #home-slide {
    width: calc(100vw - 2 * 30px);
    height: calc((100vw - 60px) / 4 * 5);
  }
  #home-slide img {
    width: calc(100vw - 2 * 30px);
  }
}

@media (min-width: 768px) {
  #home-slide {
    height: calc(100vw / 12 * 5);
  }
  #home-slide img {
    width: 100vw;
  }
}

#home-slide img {
  position: absolute;
}

#home-slide .fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from { opacity: 0.0; }
  to   { opacity: 1.0; }
}
