@font-face {
    font-family: 'Chalet70';
    src: url('../fonts/ChaletLondonSeventyAS.woff2') format('woff2'),
         url('../fonts/ChaletLondonSeventyAS.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Chalet70';
    src: url('../fonts/ChaletNewYorkSeventyAS.woff2') format('woff2'),
         url('../fonts/ChaletNewYorkSeventyAS.otf') format('otf');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Chalet60';
    src: url('../fonts/ChaletLondonSixty.woff2') format('woff2'),
         url('../fonts/ChaletLondonSixty.woff') format('woff'),
         url('../fonts/ChaletLondonSixty.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chalet60';
    src: url('../fonts/ChaletNewYorkSixty.woff2') format('woff2'),
         url('../fonts/ChaletNewYorkSixty.woff') format('woff'),
         url('../fonts/ChaletNewYorkSixty.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ChaletComprime';
    src: url('../fonts/ChaletComprimeCologneSixty.woff') format('woff'),
         url('../fonts/ChaletComprimeCologneSixty.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}


/* Layout
 * ----------------------------------------------
 */

/* reset body */
body {
  margin: 0;
}

/* the clearfix will make the parent consider the floating children */
.clearfix:after {
  content:"";
  clear:both;
  display:block;
}

/* generic modifiers */
.hide {
  display: none !important;
}

@media (min-width: 993px) {
  .hide-lg {
    display: none !important
  }
}
@media (max-width: 992px) {
  .hide-sm {
    display: none !important
  }
}

.text-center {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

main {
  top: -30px;
  position: relative;
}

/* -------------- responsive widths & heights */
@media (max-width: 1199px) {
  .wrapper {
    margin-left: 30px;
    margin-right: 30px;
    max-width: calc(100vw - (30px * 2));
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: calc(1200px - (30px * 2));
  }
}

article {
  min-height: calc(100vh - 400px);
}

footer {
  padding: 0 30px;
}
footer p {
  padding-left: 30px;
  padding-right: 30px;
}


/* -------------------------- header & footer */
@media (max-width: 1349px) {
  header {
    padding: 0 30px 0 0;
  }
}
@media (min-width: 1350px) {
  header {
    padding: 0 7.5vw;
  }
}

.site-header, .site-footer {
  border: 0;
}

/* header */
header, .logo img {
  height: 96px;
}

.logo {
  float: left;
}


/* menu */
nav {
  margin-top: 28px;
}

.site-nav {
  line-height: 60px;
}

@media screen and (max-width: 1349px) {
  .site-nav {
    background-color: transparent !important;
    position:absolute;
    width:100vw;
    top:0;
    right:0;
    margin: 0;
    text-align:center;
    font-size: 3em;
    letter-spacing: 4px;
    border: 0;
  }
  .site-nav label[for="nav-trigger"] {
    display:block;
    float:right;
    top: 30px;
    right: 30px;
    cursor:pointer;
    background-color:#fdfdfd;
    border:1px solid #e8e8e8;
    border-radius:5px;
    position: fixed;
    z-index: 200;
  }
  .site-nav .menu-icon {
    display:block;
    float:right;
    width:36px;
    height:26px;
    line-height:0;
    padding-top:10px;
    text-align:center
  }
  .site-nav .menu-icon>svg {
    fill:#424242
  }
  .site-nav input ~ .trigger {
    clear:both;
    display:none;
  }
  .site-nav input ~ .trigger a {
    font-family: 'Chalet70';
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.8);
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    vertical-align: middle;
    padding-top: calc((100vh - 350px)/2);
  }
  .site-nav .page-link {
    display:block;
    color: #dcdedd !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 36px;
  }
}
@media screen and (min-width: 1350px) {
  nav .page-link {
    padding: 6px 10px 4px 10px;
    font-family: 'Chalet70';
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 10px !important;
    border: 1px solid #fcfefd;
  }
  nav .page-link:not(:last-child) {
    margin-right: 10px !important;
  }

  nav .current {
    border: 1px solid #212322;
  }

  nav a.current:hover {
    text-decoration: none;
  }
}

/* footer */
.site-footer {
  margin-top: 40px;
}

ul.social {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
ul.social li {
  width: 24px;
  list-style-type: none;
  margin: 0 25px;
  box-sizing: border-box;
  text-align: center;
}


/* Typography, colours & styles
 * ----------------------------------------------
 */
a { cursor: pointer; }

h1, h1 a, h2, h2 a {
  font-family: ChaletComprime;
  letter-spacing: 2px;
  display: table;
  text-transform: uppercase;
}

h3, h3 a {
  font-family: 'Chalet70';
  letter-spacing: 2.3px;
  font-weight: bold;
  font-size: 1.15em;
}

h1, h1 a, h1 a:hover, h1 a:visited,
h2, h2 a, h2 a:hover, h2 a:visited,
h3, h3 a, h3 a:hover, h3 a:visited,
h4, h4 a, h4 a:hover, h4 a:visited,
h5, h5 a, h5 a:hover, h5 a:visited,
h6, h6 a, h6 a:hover, h6 a:visited {
  text-decoration: none;
}

h1, h1 a {
  font-size: 40px;
  margin-top: 30px;
}

body, p, li, span, ol, ul, table, a, input, button {
  font-size: 18px;
  font-family: 'Chalet60';
  letter-spacing: 1px;
  word-spacing: 3px;
}

footer {
  font-size: 14px;
}

li a {
  text-decoration: none;
}

main p a, main li a {
  text-decoration: underline;
}

strong {
  font-weight: 900;
}

.site-nav a {
  transition: all 0.5s ease-in;
}
.site-nav a:hover {
  transition: all 0.4s ease-in-out;
}

.small, .small a {
  font-size: 16px;
  opacity: 0.8;
}

table { border: 0px; }
table td:first-child {
    font-weight: bold;
}
table td {
  border: 0px;
  padding: 3px 8px !important;
}
thead {
  font-family: 'Chalet70';
  font-weight: bold;
  padding: 8px 8px 5px 8px !important;
}

.link-group a {
  font-family: 'Chalet70';
  font-weight: bold;
}


/* ---------------------------------- colours */
body {
  background: #fcfefd;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  color: #212322;
}

p, a, a:hover, a:visited {
  color: #4e4946;
}

header, footer {
  background-color: transparent;
}

.logo h1, .logo h1 a {
  color: #212322;
}

.logo h2, .logo h2 a, nav a, .site-nav .page-link {
  color: #4e4946;
}

.social a img:hover {
  filter: invert(15%) sepia(48%) saturate(6289%) hue-rotate(353deg) brightness(93%) contrast(89%);
}

.grey {
  color: #8a8b8d;
}
.red {
  color: #b5201b;
}

table thead {
  border-top: 2.5px solid #b5201b !important;
  border-bottom: 2.5px solid #b5201b !important;
}
table tr {
  background-color: #fff;
}
table tr:nth-of-type(2n) {
  background-color: #fff; /*#f7f7f7;*/
}


/* ---------------------------------- buttons */
.button, input[type=submit] {
  border: 1px solid #212322;
  color: #212322;
  font-weight: normal;
  background-color: transparent;
}

input[type=submit] {
  padding: 5px 20px;
}

.button {
  padding: 4px 10px 6px 10px;
  letter-spacing: 1px;
  display: block
}

.inline { display: inline-block; }

.link-group {
  display: block;
  margin: 0 auto;
}
.link-group a {
  padding: 0 6px;
  display: inline-block;
}
@media (max-width: 900px) {
  .link-group a {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

/* ---------------------------------- forms */

/* booking form */
form {
  margin-top: -30px;
}
#section-2, #section-3, #section-4, #section-5 {
  display: none;
}

form .row {
  margin: 30px auto;
  padding: 0 10px;
}

@media (min-width: 600px) {
  form .row {
    min-width: 600px;
    width: 70%;
    max-width: 900px;
  }
  form .col-2 .inner div {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
  }
}

@media (max-width: 599px) {
  form p {
    text-align: center;
  }
  form .inner div {
    padding-top: 0;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="phone"],
  form input[type="number"],
  form input[type="url"],
  form input[type="date"],
  form textarea {
    margin: 0 auto;
    display: block;
  }
  #ratio-other-text, #platform-other-text, #schedule-other-text {
    display: inline-block;
    min-width: 240px;
  }
}

form div {
  padding-top: 10px;
}
form img {
  width: calc(100vw - 20px);
}
form p {
    padding: 0;
    margin: 0;
    padding-top: 8px;
}
form input[type="text"],
form input[type="email"],
form input[type="phone"],
form input[type="number"],
form input[type="url"],
form input[type="date"],
form textarea {
    font-family: 'chalet60', sans-serif;
    border: 0;
    padding-left: 5px;
    font-size: 16px;
    line-height: 28px;
    border-bottom: 1px solid grey;
    accent-color: #b5201b;
    min-width: 290px;
    outline: none;
}

form input[type="checkbox"],
form input[type="radio"] {
    accent-color: #b5201b;
    margin-left: 20px;
}

/* subscribe form */
form#subscribe-form {
   margin-top: 0 !important;
}


/* Full-width video & images
 * ----------------------------------------------
 */
.video-full {
  margin-top: 40px;
}
@media (max-width:767px) {
  .video-full {
    margin-left: 30px;
    width: calc(100vw - 2 * 30px);
  }
}

.video-full video {
  width: 100%;
  height: 100%;
}

.video-embed {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Full width video and image containers */
.cinema-mode {
  width: 100%;
  height: auto;
  background: #000;
}

.single-video-wrapper {
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
  height: 0;
  overflow: hidden;
}

.single-video-wrapper img {
  width: 100%;
}

@media (max-width: 767px) {
  .single-video-wrapper {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio so vids are full width */
  }

  .cinema-mode {
    background: #fcfefd;
  }
}
@media (min-width: 768px) {
  .single-video-wrapper {
    padding-bottom: 37%;
  }
}


/* Video & image gallery
 * ----------------------------------------------
 */
.video-gallery,
.image-gallery {
  margin-top: 40px;
  display: block;
}

.video-gallery .inner,
.image-gallery .inner {
  width: 100%;
  display: flex;
  margin-bottom: 80px;
}
.video-gallery .inner:last-child,
.image-gallery .inner:last-child {
  margin-bottom: 40px;
}
/* center-align single last item in 3-col layout */
.video-gallery .last-item, .video-gallery .last-item a {
  display: block;
}
.video-gallery .last-item a {
  margin: 0 auto;
}

.square-aspect-ratio .inner {
  margin-bottom: 4px;
}
.square-aspect-ratio .inner a {
  padding: 2px;
  box-sizing: border-box;
}

.video-gallery a,
.image-gallery a {
  flex: 1;
  transition: all 1s ease-in-out;
  text-decoration: none;
}

@media (min-width:768px) {
  .video-gallery,
  .image-gallery {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
  }

  .video-gallery .inner,
  .image-gallery .inner {
    flex-direction: row;
  }

  .video-gallery a, .video-gallery .inner div {
    width: calc(85vw / 3);
    height: calc(85vw / 3 / 2);
  }

  .square-aspect-ratio a, .square-aspect-ratio .inner div {
    height: calc(85vw / 3) !important;
  }

  .video-gallery a img {
    width: calc(85vw / 3);
    height: calc(85vw / 3 / 1.85);
    object-fit: cover;
    object-position: center;
  }

  .square-aspect-ratio a img {
    height: calc(85vw / 3) !important;
    object-fit: contain;
    object-position: center;
  }

  .image-gallery a, .image-gallery div {
    width: 50%;
  }
}

@media (max-width:767px) {
  .video-gallery,
  .image-gallery {
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 70px);
  }
  .video-gallery a:not(last-child),
  .image-gallery a:not(last-child) {
    margin-bottom: 30px;
  }
  .video-gallery a {
    height: calc((100vw - 70px) / 1.85);
  }
  .video-gallery a img {
    width: calc(100vw - 70px);
    height: calc((100vw - 70px) / 1.85);
    object-fit: cover;
    object-position: center;
  }

  .video-gallery .inner,
  .image-gallery .inner {
    flex-direction: column;
  }
}

.video-gallery a img,
.image-gallery a img {
  width: 100%;
}

.video-gallery a:hover,
.image-gallery a:hover {
  filter: brightness(0.8);
  transition: all 1s ease-in-out;
}

/* fullscreen image gallery */
.fullscreen {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.95);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen img {
  max-height: 100%;
  max-width: 100%;
}
.fullscreen a, .fullscreen a span {
  color: #dcdedd;
  font-family: 'Chalet60';
  font-weight: 900;
  font-size: 36px;
}
.fullscreen a:hover { text-decoration:none }

.fullscreen a {
  position: absolute;
  mix-blend-mode: difference;
  cursor: pointer;
}
.fullscreen #prev-gallery,
.fullscreen #next-gallery {
  height: calc(80vh - 72px);
  width: 100px;
}
.fullscreen #prev-gallery span,
.fullscreen #next-gallery span {
  position: absolute;
  top: calc(40vh - 36px);
}
.fullscreen #prev-gallery span { left:  20px; }
.fullscreen #next-gallery span { right: 20px; }
.fullscreen #prev-gallery { left:  0px; }
.fullscreen #next-gallery { right: 0px; }
.fullscreen #exit-gallery { top: 0px; right: 20px; }

.fullscreen .watermark {
  position: absolute;
  z-index: 300;
  color: #bbb;
  bottom: 20px;
}


/* Video title hover on video gallery item */
.video-gallery a > h2,
.video-gallery a > h4,
.video-gallery a:hover > h2,
.video-gallery a:hover > h4 {
  transition: all 1s ease-in-out;
}

.video-gallery h2 {
  margin-top: -25%;
  display: block;
  color: #fff;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  text-shadow: 0 0 20px #000;
  margin-bottom: 0;
}
.video-gallery h4 {
  margin-top: 0;
  display: block;
  color: #fff;
  text-shadow: 0 0 20px #000;
  letter-spacing: 0;
  font-size: 17px;
  margin-bottom: calc(25% - 65px);
}


/* different behaviour on desktop vs mobile, text always on in mobile */
@media screen and (min-width: 768px) {
  .video-gallery a:hover > h2,
  .video-gallery a:hover > h4 {
    opacity: 1;
  }
  .video-gallery a > h2,
  .video-gallery a > h4 {
    opacity: 0;
  }

  .video-gallery h2.vertical-center {
    margin-top: -40%;
  }
}

/* headings on each page */
.video-gallery-body h1, .photo-item-body h1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.video-item-body h2 {
  margin-top: 0;
  margin-bottom: 0;
}

/* 3-column elements e.g. for awards */
.col-3 .inner {
  margin-top: 40px;
  width: 100%;
  display: flex;
  margin-bottom: 80px;
  flex-direction: row;
}
.col-3 .inner div {
  width: 33%;
}
.col-3 .inner h2, .col-3 .inner p {
  text-align: center;
  margin: 0 auto;
}
.col-3 .inner img {
  margin-bottom: -80px;
  opacity: 0.15;
}


/* About and contact pages layout
 * ----------------------------------------------
 */
.about-page {
   display: flex;
   box-sizing: border-box;
   vertical-align: top;
}

.contact {
  display: flex;
  padding-top: 6px;
  flex-direction: column;
}
.left .contact {
  float: right;
}
.contact .button {
  margin-top: 5px;
  text-align: center;
}

.phonetic {
  height: 1.25em;
  margin: 0 auto;
  opacity: 0.45;
  display: inline;
}
.about-page .text-center h4 {
  margin-top: 10px;
  margin-bottom: 0;
}
.about-page p {
  text-align: justify;
  margin-bottom: 24px !important;
}

/* chosen as 992 as it makes contact page symmetric */
@media (max-width: 992px) {
  .about-page {
    margin-top: 40px;
    flex-direction: column;
  }

  .about-page > div {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-bottom: 40px;
  }

  .about-page a.img {
    margin: 0 auto;
  }

  .about-page h1 {
    line-height: 40px;
    margin: 0 auto;
  }
  .contact {
    width: 100%;
  }
}
@media (min-width: 993px) {
  .about-page {
    margin-top: 80px;
    flex-direction: row;
  }
  .about-page > div {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
  }
  .about-page .text-center h1, .about-page .text-center h4, .about-page .text-center p {
    width: 80%;
    margin-left: 0;
  }
  .about-page .left img {
    float: right;
    max-width: 80%;
  }

  .about-page h1 {
    margin-top: 0;
    line-height: 40px;
    display: block;
  }
  .contact {
    width: 80%;
  }
}

/* Essay list and individual essay pages layout
 * ----------------------------------------------
 */
.essay h1.title {
  margin-top: 80px;
  margin-bottom: 0;
}
.essay h3, .essay h3 a, .essay p a {
  color: #b5201b;
}
.essay h3 {
  font-size: 1.5em;
}
.essay h3 a {
  margin-bottom: 5px;
  font-size: 0.95em;
}

.essay p {
  text-align: justify;
  margin-bottom: 20px !important;
}
.essay li p {
  margin-bottom: 5px !important;
}
.essay li p a {
  color: #212322;
}
.essay p .greek {
  font-family: 'Sans Serif';
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .essay-list img {
    width: 30%;
    aspect-ratio: 1.85/1;
    object-fit: cover;
    margin-right: 30px;
    float: left;
  }

  .essay p img, .essay .text-center img {
    margin: 30px auto;
    display: block;
  }
  .essay .two-img {
    display: flex;
    margin: 30px 0 40px 0;
  }
  .essay .two-img img {
    width: 50%;
  }
  .essay .right-img img {
    float: right;
    margin-left: 30px;
  }
  .essay .left-img img {
    float: left;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .essay img {
     width: 100%;
     margin-bottom: 20px;
  }
}

/* 404 page */
.post-title {
  margin: 100px auto;
}

